.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container {
  box-sizing: border-box;
  width: 80%;
  padding: 4%;
  border: 4px dashed;
  border-radius: 10px;
  display: grid;
  grid-template-columns: [table] 40% [input] auto;
  column-gap: 5%;
  min-height: 60vh;
}

.table {
  grid-column: table;
  border: 1px solid;
  border-radius: 4px;
  font-size: calc(6px + 1vmin);
  display: grid;
}

.row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  border-bottom: 1px solid;
  &.salaryTier {
    background-color: orange;
    color: black;
  }
  &.cost {
    background-color: gray;
  }
}

.input {
  grid-column: input;
  width: 100%;
  background: none;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  font-size: 3vmin;
}
.input:focus {
  outline-width: 0;
}

.result {
  font-size: 3vmin;
}
